<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="by.nikalaichanka.spring"/>
    <context:property-placeholder location="classpath:musicPlayer.properties"/>

<!--    <bean id="musicBean"-->
<!--          class="by.nikalaichanka.spring.RockMusic">-->
<!--    </bean>-->

    <bean id="musicPlayer"
          class="by.nikalaichanka.spring.MusicPlayer">
<!--         <constructor-arg ref="musicBean"/> -->
<!--         <property name="music" ref="musicBean"/> -->
<!--        <property name="name" value="Spotify"/>-->
<!--        <property name="volume" value="70"/>-->
<!--        <property name="name" value="${musicPlayer.name}"/>-->
<!--        <property name="volume" value="${musicPlayer.volume}"/>-->

    </bean>

</beans>